@import 'tailwindcss';

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/robsontenorio/mary/src/View/Components/**/*.php';
@source '../../vendor/masmerise/livewire-toaster/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
